<div class="user-container">
    <div class="devise-name">
        <a id="name-link" href="../../home/index"><h2>edit<span id='board-name'>Whiteboard</span></h2></a>
    </div>

    <div class="user-form">
        <%= form_for @whiteboard do |f| %>
            <div class="field">
                <%= f.text_field :title, placeholder: "Title", spellcheck: "false" %>
            </div>

            <div class="field">
                <%= f.text_field :description, placeholder: "Description", spellcheck: "false" %>
            </div>
            
            <div>
                <%= f.submit "Update", class: 'submit-button' %>
            </div>
        <% end %>
    </div>
</div>